Initial exploratory analyses of demographic data

In [1]:
import pandas,numpy

%matplotlib inline

%load_ext rpy2.ipython

In [17]:
demog_all=pandas.read_csv('surveydata/demographics.tsv',delimiter='\t')
demog=demog_all.copy()
del demog['RelationshipStatus']
del demog['RentOwn']
demog['BMI']=demog['WeightPounds']*0.45 / (demog['HeightInches']*0.025)**2
demog.describe().T

/Users/poldrack/anaconda/envs/py34/lib/python3.4/site-packages/numpy/lib/function_base.py:3403: RuntimeWarning: Invalid value encountered in median
  RuntimeWarning)

,count,mean,std,min,25%,50%,75%,max
Sex,163.0,0.490798,0.501456,0.000000,0.000000,0.000000,1.000000,1.000000
Age,163.0,33.766871,8.381763,20.000000,27.000000,32.000000,39.500000,59.000000
HispanicLatino,163.0,0.073620,0.261956,0.000000,0.000000,0.000000,0.000000,1.000000
HighestEducation,163.0,3.460123,0.876619,1.000000,3.000000,3.000000,4.000000,6.000000
HeightInches,163.0,67.552147,4.567942,50.000000,64.000000,67.000000,71.000000,79.000000
WeightPounds,163.0,180.779141,53.860247,20.000000,140.000000,170.000000,210.000000,362.000000
DivorceCount,163.0,0.147239,0.433663,0.000000,0.000000,0.000000,0.000000,2.000000
LongestRelationship,163.0,81.030675,80.335594,0.000000,22.000000,50.000000,120.000000,360.000000
RelationshipNumber,163.0,3.288344,1.665644,0.000000,2.000000,3.000000,5.000000,6.000000
ChildrenNumber,163.0,0.791411,1.204180,0.000000,0.000000,0.000000,1.000000,5.000000
HouseholdIncome,163.0,48924.582822,37242.344229,55.000000,25000.000000,44900.000000,65000.000000,323224.000000
RetirementAccount,163.0,0.233129,0.424127,0.000000,0.000000,0.000000,0.000000,1.000000
RetirementPercentStocks,47.0,28.404255,32.437672,0.000000,NaN,NaN,NaN,100.000000
MortgageDebt,152.0,2.026316,2.006438,1.000000,NaN,NaN,NaN,8.000000
CarDebt,156.0,1.730769,1.415792,1.000000,NaN,NaN,NaN,7.000000
EducationDebt,157.0,2.407643,1.867246,1.000000,NaN,NaN,NaN,8.000000
CreditCardDebt,159.0,1.767296,1.148444,1.000000,NaN,NaN,NaN,8.000000
CoffeeCupsPerDay,163.0,1.368098,1.965621,0.000000,0.000000,1.000000,2.000000,16.000000
TeaCupsPerDay,163.0,0.644172,1.168945,0.000000,0.000000,0.000000,1.000000,5.000000
CaffienatedSodaCansPerDay,163.0,0.865031,1.358627,-1.000000,0.000000,0.000000,1.000000,6.000000
CaffieneOtherSourcesDayMG,163.0,37.723926,104.802005,-4.000000,0.000000,0.000000,0.000000,600.000000
GamblingProblem,163.0,0.079755,0.351041,0.000000,0.000000,0.000000,0.000000,2.000000
TrafficTicketsLastYearCount,163.0,0.110429,0.458206,0.000000,0.000000,0.000000,0.000000,3.000000
TrafficAccidentsLifeCount,163.0,1.233129,1.345181,0.000000,0.000000,1.000000,2.000000,5.000000
ArrestedChargedLifeCount,163.0,0.337423,0.855057,0.000000,0.000000,0.000000,0.000000,5.000000
OtherDebtAmount,72.0,1.611111,1.316799,1.000000,NaN,NaN,NaN,7.000000
BMI,163.0,28.416133,7.812137,3.305785,23.198673,26.889796,32.560829,65.982263

In [12]:
numpy.mean(demog.ArrestedChargedLifeCount>0)

0.20624999999999999

In [15]:
demog

,worker,Sex,Age,Race,OtherRace,HispanicLatino,HighestEducation,HeightInches,WeightPounds,DivorceCount,...,CaffienatedSodaCansPerDay,CaffieneOtherSourcesDayMG,GamblingProblem,TrafficTicketsLastYearCount,TrafficAccidentsLifeCount,ArrestedChargedLifeCount,MotivationForParticipation,MotivationOther,OtherDebtAmount,BMI
0,s002,0,35,White,NaN,0,2,72,240,0,...,0,0,0,0,3,0,tasks are fun,NaN,NaN,33.333333
1,s002,0,35,White,NaN,0,2,72,240,0,...,0,0,0,0,3,0,money,NaN,NaN,33.333333
2,s005,0,36,Black or African American,NaN,0,3,76,175,0,...,0,0,1,0,3,5,money,NaN,NaN,21.814404
3,s006,1,33,White,NaN,0,5,60,130,0,...,0,0,0,0,0,0,money,NaN,1.0,26.000000
4,s007,1,32,Black or African American,NaN,0,3,64,130,0,...,0,0,0,0,3,0,tasks are fun,NaN,NaN,22.851562
5,s007,1,32,Black or African American,NaN,0,3,64,130,0,...,0,0,0,0,3,0,want to contribute to research,NaN,NaN,22.851562
6,s007,1,32,Black or African American,NaN,0,3,64,130,0,...,0,0,0,0,3,0,money,NaN,NaN,22.851562
7,s009,0,26,White,NaN,0,4,72,244,0,...,0,0,0,0,0,0,money,NaN,1.0,33.888889
8,s011,1,27,White,NaN,0,3,72,320,1,...,2,160,0,0,0,0,tasks are fun,NaN,5.0,44.444444
9,s011,1,27,White,NaN,0,3,72,320,1,...,2,160,0,0,0,0,money,NaN,5.0,44.444444
10,s012,1,36,White,NaN,0,3,68,268,0,...,0,200,0,0,2,0,money,NaN,NaN,41.730104
11,s017,0,31,White,NaN,0,4,69,180,0,...,0,0,0,0,0,0,money,NaN,NaN,27.221172
12,s020,0,25,White,NaN,0,4,75,315,0,...,2,200,0,0,0,0,want to contribute to research,NaN,1.0,40.320000
13,s020,0,25,White,NaN,0,4,75,315,0,...,2,200,0,0,0,0,money,NaN,1.0,40.320000
14,s026,0,38,White,NaN,0,4,71,195,0,...,0,0,0,0,2,0,money,NaN,1.0,27.851617
15,s027,0,30,White,NaN,0,3,73,210,0,...,0,0,0,0,2,0,money,NaN,1.0,28.373053
16,s028,0,31,White,NaN,0,4,66,20,0,...,0,0,0,0,2,0,want to contribute to research,NaN,NaN,3.305785
17,s028,0,31,White,NaN,0,4,66,20,0,...,0,0,0,0,2,0,money,NaN,NaN,3.305785
18,s029,0,22,Chinese,NaN,0,4,65,120,0,...,0,0,0,0,0,0,money,NaN,NaN,20.449704
19,s032,0,38,White,NaN,0,3,73,240,1,...,2,0,0,0,2,0,want to contribute to research,NaN,NaN,32.426346
20,s032,0,38,White,NaN,0,3,73,240,1,...,2,0,0,0,2,0,money,NaN,NaN,32.426346
21,s034,1,28,White,NaN,0,3,61,199,0,...,0,0,0,0,1,0,want to contribute to research,NaN,NaN,38.505778
22,s034,1,28,White,NaN,0,3,61,199,0,...,0,0,0,0,1,0,money,NaN,NaN,38.505778
23,s042,0,28,White,NaN,0,4,65,125,0,...,0,0,0,0,1,0,money,NaN,2.0,21.301775
24,s045,0,29,White,NaN,0,4,72,200,0,...,0,0,0,0,0,0,tasks are fun,NaN,1.0,27.777778
25,s047,0,26,White,NaN,0,4,70,150,0,...,0,0,0,1,0,0,want to contribute to research,NaN,NaN,22.040816
26,s047,0,26,White,NaN,0,4,70,150,0,...,0,0,0,1,0,0,money,NaN,NaN,22.040816
27,s049,1,59,White,NaN,0,2,66,175,0,...,1,0,0,0,0,0,money,NaN,NaN,28.925620
28,s050,0,23,White,NaN,1,4,70,175,0,...,0,10,0,0,0,0,money,NaN,1.0,25.714286
29,s056,0,48,White,NaN,0,3,76,200,0,...,1,0,0,0,2,0,want to contribute to research,NaN,1.0,24.930748
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
290,s359,0,43,White,NaN,0,4,69,210,0,...,2,0,2,0,2,4,want to contribute to research,NaN,NaN,31.758034
291,s359,0,43,White,NaN,0,4,69,210,0,...,2,0,2,0,2,4,money,NaN,NaN,31.758034
292,s361,0,28,Black or African American,NaN,0,1,61,341,0,...,4,2,1,3,1,3,money,NaN,1.0,65.982263
293,s365,1,29,White,NaN,0,4,60,130,0,...,0,0,0,0,0,1,money,NaN,1.0,26.000000
294,s367,0,26,White,NaN,1,4,67,140,0,...,4,0,0,0,0,0,money,NaN,NaN,22.454890
295,s367,0,26,American Indian or Alaska Native,NaN,1,4,67,140,0,...,4,0,0,0,0,0,money,NaN,NaN,22.454890
296,s368,0,34,White,NaN,0,4,73,185,0,...,0,0,0,0,2,0,money,NaN,NaN,24.995309
297,s369,0,48,White,NaN,1,4,70,184,0,...,0,0,1,0,2,1,tasks are fun,NaN,1.0,27.036735
298,s369,0,48,White,NaN,1,4,70,184,0,...,0,0,1,0,2,1,money,NaN,1.0,27.036735
299,s372,0,31,White,NaN,0,4,72,165,0,...,0,0,0,0,0,0,want to contribute to research,NaN,1.0,22.916667
300,s372,0,31,White,NaN,0,4,72,165,0,...,0,0,0,0,0,0,money,NaN,1.0,22.916667
301,s373,1,31,White,NaN,0,2,64,135,0,...,0,0,0,0,2,2,tasks are fun,NaN,1.0,23.730469
302,s373,1,31,White,NaN,0,2,64,135,0,...,0,0,0,0,2,2,want to contribute to research,NaN,1.0,23.730469
303,s373,1,31,White,NaN,0,2,64,135,0,...,0,0,0,0,2,2,money,NaN,1.0,23.730469
304,s376,1,28,White,NaN,0,4,68,130,0,...,0,70,0,0,1,0,money,NaN,NaN,20.242215
305,s380,1,44,White,NaN,0,4,62,125,0,...,0,50,0,0,1,0,money,NaN,1.0,23.413111
306,s383,1,50,White,NaN,0,4,70,230,2,...,3,0,0,0,1,0,tasks are fun,NaN,1.0,33.795918
307,s383,1,50,White,NaN,0,4,70,230,2,...,3,0,0,0,1,0,want to contribute to research,NaN,1.0,33.795918
308,s383,1,50,White,NaN,0,4,70,230,2,...,3,0,0,0,1,0,money,NaN,1.0,33.795918
309,s385,0,33,White,NaN,0,2,71,225,0,...,5,0,0,0,0,0,want to contribute to research,NaN,NaN,32.136481
310,s385,0,33,White,NaN,0,2,71,225,0,...,5,0,0,0,0,0,money,NaN,NaN,32.136481
311,s388,1,26,White,NaN,0,4,67,240,0,...,0,0,0,0,0,0,want to contribute to research,NaN,NaN,38.494097
312,s388,1,26,White,NaN,0,4,67,240,0,...,0,0,0,0,0,0,money,NaN,NaN,38.494097
313,s391,0,40,White,NaN,0,3,67,125,0,...,0,0,0,0,1,0,money,NaN,1.0,20.049009
314,s396,1,21,White,NaN,0,3,64,200,0,...,1,3,0,0,1,0,money,NaN,NaN,35.156250
315,s397,1,22,White,NaN,1,3,64,250,0,...,4,0,0,0,0,0,want to contribute to research,To see if I could finish it,NaN,43.945312
316,s397,1,22,White,NaN,1,3,64,250,0,...,4,0,0,0,0,0,money,To see if I could finish it,NaN,43.945312
317,s402,1,48,White,NaN,0,3,65,154,0,...,6,0,0,0,4,0,tasks are fun,NaN,NaN,26.243787
318,s402,1,48,White,NaN,0,3,65,154,0,...,6,0,0,0,4,0,want to contribute to research,NaN,NaN,26.243787
319,s402,1,48,White,NaN,0,3,65,154,0,...,6,0,0,0,4,0,money,NaN,NaN,26.243787